{% load static %}
    <!-- start of footer -->
    <footer class="bg-dark-subtle px-md-5">
        <div class="d-md-flex p-4 justify-content-between">
            <div class="col-md-3">
                <img src="{% static 'images/logo.jpg' %}" alt="Ecommerce" width="70">
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati illo, reiciendis, in voluptas fugiat nam molestiae vitae iste numquam officiis veritatis voluptate quia commodi ullam repudiandae similique eos facilis!</p>
            </div>
            <div class="col-md-2">
                <h5>Quick Links</h5>
                <hr>
                <ul>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Quick Links</h5>
                <hr>
                <ul>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            
            <div class="col-md-2">
                <h5>Follow Us</h5>
                <small>Lorem ipsum dolor sit amet consectetur?</small>
                <hr>
                <a href="#" class="btn btn-outline-dark rounded-circle"><i class="bi bi-facebook"></i></a>
                <a href="#" class="btn btn-outline-dark rounded-circle"><i class="bi bi-instagram"></i></a>
                <a href="#" class="btn btn-outline-dark rounded-circle"><i class="bi bi-twitter"></i></a>
            </div>
        </div>
    </footer>
    <!-- end of footer -->